.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(153,204,51,0.9);
}

.overlay-inner {

}

.title {
    color: #ffffff;
}

input[name="numberOfPanes"] {
    display: none;
}

.pane-selector:hover {
    background: rgba(256,256,256, .4);
}

.pane-selected {
    background: rgba(256,256,256, .4);
}

.hidden {
    display: none;
}

.fullHeight {
    height: 100vh;
}